.ProductsItem {
    flex: 0 1 290px;
    height: 490px;
    padding: 10px;
    box-sizing: border-box;
}

.Product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.Product img {
    max-width: 370px;
    max-height: 370px;
}

.Product a {
    text-decoration: none;
    font-size: 16px;
}

.Product a:hover {
    color: #ff8000
}

.ProductPriceAndOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ProductPriceAndOrder p {
    flex: 1 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}