.Button {
    border: 1px solid silver;
    background-color: #f0c040;
    box-sizing: border-box;
    padding: 10px;
    flex: 1 1;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.Button:hover {
    border: 1px solid #808080;
}